html {
	margin: 0;
	/* overflow: hidden; */
	--blue-1: #3891a6;
	--blue-2: #4c5b5c;
	--orange-1: #ff8552;
	--yellow: #fde74c;
	--green: #95bf74;
}

html::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

body {
	margin: 0;
}

h1 {
	font-family: "Open Sans", serif;
	font-weight: 800;
	font-size: 40px;
	letter-spacing: -1px;
	color: black;
}

h2 {
	font-family: "Open Sans", serif;
	font-weight: 800;
	font-size: 25px;
	letter-spacing: -1px;
	color: black;
}

h3 {
	font-family: "Open Sans", serif;
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 5px;
	color: black;
}

h4 {
	font-family: "Open Sans", serif;
	font-weight: 300;
	font-size: 15px;
	letter-spacing: 2px;
	color: black;
}

.webpage {
	height: 100vh;
	width: 100vw;

	.header-container {
		background-color: var(--yellow);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		> div {
			margin: 10px;
		}

		/* .name {
            font-family: "Open Sans", serif;
            font-weight: 300;
            font-size: 20px;
            letter-spacing: 5px;
            color: black;
        } */

		.nav-container {
			display: flex;
			flex-direction: row;

			font-family: "Open Sans", serif;
			font-weight: 300;
			font-size: 15px;
			letter-spacing: 2px;
			color: black;

			> div {
				margin-left: 10px;
			}
		}
	}

	.content-container {
		display: flex;
		flex-direction: column;

		> section {
			padding: 10px;
		}

		.am-container {
			background-color: var(--orange-1);

			.am-contents-container {
				display: flex;
				flex-direction: row;
				justify-content: center;
				width: inherit;

				img {
					width: 200px;
				}

				.descrip-container {
					width: 60%;
					margin-left: 20px;
				}
			}
		}
		.hni-container {
			background-color: var(--blue-1);
		}
		.ci-container {
			background-color: var(--green);

			.ci-contents-container {
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				.socials-container {
					display: flex;
					flex-direction: row;
				}
			}

			img {
				width: 40px;
			}
		}
	}
}
